/*.wrapper{
  width:500px;
  margin:0 auto;
}

.wrapper ul{
  maring:0;
  padding:0px;
 
  list-style:none;
}
*/

.wrapper {
  margin: 100px auto;
  width: 700px;
}
.wrapper ul li{

    margin-top:20px;
    background-color:rgba(255,255,255,0.9);
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
    border-radius:3px;
   -webkit-box-shadow: 0px 0px 2px #888888;
   -moz-box-shadow: 0px 0px 2px #888888;
     box-shadow: 0px 0px 2px #888888;
    
}
.wrapper .head{ 
  color:red;
  font-size:36px;
  text-align:center;
  background-color:#ed6f70;
  color:#fff;
  -webkit-border-radius:3px;
   -moz-border-radius:3px;
    border-radius:3px;
  -webkit-box-shadow: 0px 0px 2px #888888;
  -moz-box-shadow: 0px 0px 2px #888888;
     box-shadow: 0px 0px 2px #888888;
}


.wrapper li{
  font-size:6px;

  color:#a0a29d;
  margin-right:40px;

 
}
.wraper .info{
  /*width:75%;*/

  margin:0;
  /*margin-left:5%;*/
  display:inline-block;

  
}

.wrapper h3{

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color:#767a7b;
  margin:0;
  font-size:32px;
  font-weight:100;
}
